
.img-container-product {
  background-size: cover;
  background-position: 50%;
  height: 18rem;
  width: 16rem;
  border: 8px solid #d8b0b0;
  border-radius: 5px;
}

.img-custom-product {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.box-style-product {
  vertical-align: middle;
  border: 3px solid rgb(197, 97, 97);
  margin: 0 auto 300px auto;
  padding: 10px 15px;
  border-radius: 3px;
  align-items: center;
  width: 1000px;
  background-color: white;
}

.button-style {
  margin: 10px 0;
}

.vertical-margin {
  margin: 20px 0;
}

.hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;               
  background-color: rgb(197, 97, 97);
  height: 1px;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;               
  background-color: rgb(197, 97, 97);
  height: 1px;
  margin: 10px 0;
}