
.user-info-style {
  border: 3px solid rgb(197, 97, 97);
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
  background-color: white;
}

.user-post-style {
  border: 3px solid rgb(197, 97, 97);
  margin: 10px;
  padding: 10px 5px;
  border-radius: 3px;
  background-color: white;
  width: 300px;
  margin: 0 auto 20px auto;
}

.hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;               
  background-color: rgb(197, 97, 97);
  height: 1px;
}
