.gender-form {
  width: 200px;
  flex-basis: auto;
}
.category-form {
  width: 300px;
  flex-basis: auto;
}
.category-align {
  text-align: left;
}
.gender-align {
  text-align: left;
}
.filter-margin {
  margin: 0 0 20px 0;
}
.filter-style {
  border: 3px solid rgb(197, 97, 97);
  margin: 10px;
  padding: 10px 5px;
  border-radius: 3px;
  background-color: white;
  margin: 0 auto 20px auto;
}
.margin-bottom {
  margin-bottom: 600px;
}