.center-content {
  text-align: center;
}

.margin-header {
  margin: 0 0 20px 0;
}

.bid-history-style {
  border: 3px solid rgb(197, 97, 97);
  margin: 10px;
  padding: 10px 5px;
  border-radius: 3px;
  background-color: white;
  width: 300px;
  margin: 0 auto 20px auto;
}